:root {
    --static-static-black: #0E121B;
    --static-static-white: #FFFFFF;
    --bg-strong-950: #0E121B;
    --bg-surface-800: #222530;
    --bg-sub-300: #CACFD8;
    --bg-soft-200: #E1E4EA;
    --bg-weak-50: #F5F7FA;
    --bg-white-0: #FFFFFF;
    --text-strong-950: #0E121B;
    --text-sub-600: #525866;
    --text-soft-400: #99A0AE;
    --text-disabled-300: #CACFD8;
    --text-white-0: #FFFFFF;
    --stroke-strong-950: #0E121B;
    --stroke-sub-300: #CACFD8;
    --stroke-soft-200: #E1E4EA;
    --stroke-white-0: #FFFFFF;
    --icon-strong-950: #0E121B;
    --icon-sub-600: #525866;
    --icon-soft-400: #99A0AE;
    --icon-disabled-300: #CACFD8;
    --icon-white-0: #FFFFFF;
    --state-faded-dark: #222530;
    --state-faded-base: #717784;
    --state-faded-light: #E1E4EA;
    --state-faded-lighter: #F2F5F8;
    --state-information-dark: #000000;
    --state-information-base: #171B34;
    --state-information-light: #46539F;
    --state-information-lighter: #A7ADD8;
    --state-warning-dark: #682F12;
    --state-warning-base: #FF8447;
    --state-warning-light: #FFD5C0;
    --state-warning-lighter: #FFF1EB;
    --state-error-dark: #681219;
    --state-error-base: #FB3748;
    --state-error-light: #FFC0C5;
    --state-error-lighter: #FFEBEC;
    --state-success-dark: #0B4627;
    --state-success-base: #1FC16B;
    --state-success-light: #C2F5DA;
    --state-success-lighter: #E0FAEC;
    --state-away-dark: #624C18;
    --state-away-base: #F6B51E;
    --state-away-light: #FFECC0;
    --state-away-lighter: #FFFAEB;
    --state-feature-dark: #351A75;
    --state-feature-base: #7D52F4;
    --state-feature-light: #CAC0FF;
    --state-feature-lighter: #EFEBFF;
    --state-verified-dark: #124B68;
    --state-verified-base: #47C2FF;
    --state-verified-light: #C0EAFF;
    --state-verified-lighter: #EBF8FF;
    --state-highlighted-dark: #68123D;
    --state-highlighted-base: #FB4BA3;
    --state-highlighted-light: #FFC0DF;
    --state-highlighted-lighter: #FFEBF4;
    --state-stable-dark: #0B463E;
    --state-stable-base: #22D3BB;
    --state-stable-light: #C2F5EE;
    --state-stable-lighter: #E4FBF8;
    --overlay-overlay: #020D17;
    --social-apple: #000000;
    --social-twitter: #010101;
    --social-github: #24292F;
    --social-notion: #1E2226;
    --social-tidal: #000000;
    --social-amazon: #353E47;
    --social-zendesk: #16140D;
    --illustration-strong-400: #99A0AE;
    --illustration-sub-300: #CACFD8;
    --illustration-soft-200: #E1E4EA;
    --illustration-weak-100: #F2F5F8;
    --illustration-white-0: #FFFFFF;
}

[data-theme="light"] {
    --static-static-black: #0E121B;
    --static-static-white: #FFFFFF;
    --bg-strong-950: #0E121B;
    --bg-surface-800: #222530;
    --bg-sub-300: #CACFD8;
    --bg-soft-200: #E1E4EA;
    --bg-weak-50: #F5F7FA;
    --bg-white-0: #FFFFFF;
    --text-strong-950: #0E121B;
    --text-sub-600: #525866;
    --text-soft-400: #99A0AE;
    --text-disabled-300: #CACFD8;
    --text-white-0: #FFFFFF;
    --stroke-strong-950: #0E121B;
    --stroke-sub-300: #CACFD8;
    --stroke-soft-200: #E1E4EA;
    --stroke-white-0: #FFFFFF;
    --icon-strong-950: #0E121B;
    --icon-sub-600: #525866;
    --icon-soft-400: #99A0AE;
    --icon-disabled-300: #CACFD8;
    --icon-white-0: #FFFFFF;
    --state-faded-dark: #222530;
    --state-faded-base: #717784;
    --state-faded-light: #E1E4EA;
    --state-faded-lighter: #F2F5F8;
    --state-information-dark: #000000;
    --state-information-base: #171B34;
    --state-information-light: #46539F;
    --state-information-lighter: #A7ADD8;
    --state-warning-dark: #682F12;
    --state-warning-base: #FF8447;
    --state-warning-light: #FFD5C0;
    --state-warning-lighter: #FFF1EB;
    --state-error-dark: #681219;
    --state-error-base: #FB3748;
    --state-error-light: #FFC0C5;
    --state-error-lighter: #FFEBEC;
    --state-success-dark: #0B4627;
    --state-success-base: #1FC16B;
    --state-success-light: #C2F5DA;
    --state-success-lighter: #E0FAEC;
    --state-away-dark: #624C18;
    --state-away-base: #F6B51E;
    --state-away-light: #FFECC0;
    --state-away-lighter: #FFFAEB;
    --state-feature-dark: #351A75;
    --state-feature-base: #7D52F4;
    --state-feature-light: #CAC0FF;
    --state-feature-lighter: #EFEBFF;
    --state-verified-dark: #124B68;
    --state-verified-base: #47C2FF;
    --state-verified-light: #C0EAFF;
    --state-verified-lighter: #EBF8FF;
    --state-highlighted-dark: #68123D;
    --state-highlighted-base: #FB4BA3;
    --state-highlighted-light: #FFC0DF;
    --state-highlighted-lighter: #FFEBF4;
    --state-stable-dark: #0B463E;
    --state-stable-base: #22D3BB;
    --state-stable-light: #C2F5EE;
    --state-stable-lighter: #E4FBF8;
    --overlay-overlay: #020D17;
    --social-apple: #000000;
    --social-twitter: #010101;
    --social-github: #24292F;
    --social-notion: #1E2226;
    --social-tidal: #000000;
    --social-amazon: #353E47;
    --social-zendesk: #16140D;
    --illustration-strong-400: #99A0AE;
    --illustration-sub-300: #CACFD8;
    --illustration-soft-200: #E1E4EA;
    --illustration-weak-100: #F2F5F8;
    --illustration-white-0: #FFFFFF;
}

[data-theme="dark"] {
    --static-static-black: #0E121B;
    --static-static-white: #FFFFFF;
    --bg-strong-950: #FFFFFF;
    --bg-surface-800: #E1E4EA;
    --bg-sub-300: #525866;
    --bg-soft-200: #2B303B;
    --bg-weak-50: #181B25;
    --bg-white-0: #0E121B;
    --text-strong-950: #FFFFFF;
    --text-sub-600: #99A0AE;
    --text-soft-400: #717784;
    --text-disabled-300: #525866;
    --text-white-0: #0E121B;
    --stroke-strong-950: #FFFFFF;
    --stroke-sub-300: #525866;
    --stroke-soft-200: #2B303B;
    --stroke-white-0: #0E121B;
    --icon-strong-950: #FFFFFF;
    --icon-sub-600: #99A0AE;
    --icon-soft-400: #717784;
    --icon-disabled-300: #525866;
    --icon-white-0: #0E121B;
    --state-faded-dark: #CACFD8;
    --state-faded-base: #717784;
    --state-faded-light: #99A0AE;
    --state-faded-lighter: #99A0AE;
    --state-information-dark: #272E58;
    --state-information-base: #171B34;
    --state-information-light: #476CFF;
    --state-information-lighter: #476CFF;
    --state-warning-dark: #FF9A68;
    --state-warning-base: #E97135;
    --state-warning-light: #FF9147;
    --state-warning-lighter: #FF9147;
    --state-error-dark: #FF6875;
    --state-error-base: #E93544;
    --state-error-light: #FB3748;
    --state-error-lighter: #FB3748;
    --state-success-dark: #3EE089;
    --state-success-base: #1DAF61;
    --state-success-light: #1FC16B;
    --state-success-lighter: #1FC16B;
    --state-away-dark: #FFD268;
    --state-away-base: #E6A819;
    --state-away-light: #FBC64B;
    --state-away-lighter: #FBC64B;
    --state-feature-dark: #8C71F6;
    --state-feature-base: #7D52F4;
    --state-feature-light: #784DEF;
    --state-feature-lighter: #784DEF;
    --state-verified-dark: #68CDFF;
    --state-verified-base: #35ADE9;
    --state-verified-light: #47C2FF;
    --state-verified-lighter: #47C2FF;
    --state-highlighted-dark: #FF68B3;
    --state-highlighted-base: #E9358F;
    --state-highlighted-light: #FB4BA3;
    --state-highlighted-lighter: #FB4BA3;
    --state-stable-dark: #3FDEC9;
    --state-stable-base: #1DAF9C;
    --state-stable-light: #22D3BB;
    --state-stable-lighter: #22D3BB;
    --overlay-overlay: #525866;
    --social-apple: #FFFFFF;
    --social-twitter: #FFFFFF;
    --social-github: #FFFFFF;
    --social-notion: #FFFFFF;
    --social-tidal: #FFFFFF;
    --social-amazon: #FFFFFF;
    --social-zendesk: #FFFFFF;
    --illustration-strong-400: #525866;
    --illustration-sub-300: #2B303B;
    --illustration-soft-200: #222530;
    --illustration-weak-100: #181B25;
    --illustration-white-0: #0E121B;
}
